# Configuración de Postgres
# El nombre de usuario que tendrá el administrador de la base de datos
POSTGRES_USER=tu_usuario_aqui

# La contraseña maestra para el usuario administrador
# Se recomienda usar una cadena alfanumérica fuerte
POSTGRES_PASSWORD=tu_contraseña_segura

# El nombre de la base de datos inicial que se creará al iniciar el contenedor
POSTGRES_DB=nombre_de_tu_db

# Zona horaria del contenedor para que los logs coincidan con la hora local
TZ=America/Bogota
